body {
  background-color: black;
  font-family: sans-serif;
}
.title {
  font-size: 50px;
  color: white;
  margin: auto;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  margin-top: 25vh;
  margin-left: 25vh;
  margin-right: 25vh;
  margin-bottom: 25vh;
  width: 550px;
  height: 550px;
  background-color: whitesmoke;
  gap: 5px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 200px;
}
